:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
}

a {
  font-weight: 800;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

#publicacion{
  border: 2px solid black;
}

#root {
  text-align: center;
}

input{
  color: black;
}

.nombre-usuario{
  font-size: larger;
}

.titulo{
  font-size: larger;
}

.contenido{
  size-adjust: 'auto';
  max-width: '400px';
}